@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans");
body {
  font-family: 'Julius Sans One', sans-serif;
  margin-bottom: 60px; }
  body p {
    font-family: Open Sans; }

@media (min-width: 1px) and (max-width: 347px) {
  h1 {
    font-size: 2rem !important; } }

@media (max-width: 415px) {
  h4 {
    font-size: 1.25rem !important; } }

@media (min-width: 1px) and (max-width: 767px) {
  #tape-one {
    margin-top: 20px;
    transform: rotate(-3deg); }
  #tape-two {
    display: none; } }

@media (min-width: 769px) {
  .mail-contact {
    font-size: 50px !important; }
  #tape-one {
    margin-top: 50px;
    transform: rotate(3deg); }
  #tape-two {
    margin-top: 25px;
    transform: translateX(-50px) rotate(-4deg); } }

.navbar {
  margin-top: 20px; }

.navbar-nav .active {
  border-bottom: 1px black solid; }

#cont-header {
  background-color: white;
  padding-top: 10vh;
  padding-bottom: 3vh;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }

#cont-body {
  text-align: center;
  background-color: transparent;
  max-width: 1000px; }

.e-mail:before {
  content: attr(data-website) "@" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl; }

.mail-contact {
  text-align: center;
  font-size: 20px; }

.caution-tape {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #FEEA09;
  font-family: sans-serif;
  font-weight: 900;
  width: 100%;
  color: black;
  font-size: 17px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden; }

.client-img {
  max-width: 100%;
  opacity: 0.5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out; }
  .client-img:hover {
    opacity: 1; }

#pstreet-logo, #blight-logo {
  padding-left: 50px;
  padding-right: 50px; }

.client-box {
  padding: 10px; }
  .client-box h3 {
    margin-bottom: 20px; }

#name-e, #name-o, #name-i, #title-d, #title-o, #title-d-two {
  display: inline-block;
  z-index: 1000; }

#blight-logo {
  border-radius: 33%; }

.linkedin-icon {
  text-align: center;
}

#pstreet-logo {
  -webkit-filter: drop-shadow(0px 2px 5px #222);
  filter: drop-shadow(0px 2px 5px #222); }

#ipacket-logo {
  margin-top: 30px;
  margin-bottom: 30px; }

#self-img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 100%; }

#flying {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  #flying span {
    position: absolute;
    left: -100px; }

.navbar-toggler {
  align-self: flex-end; }

html {
  position: relative;
  min-height: 100%; }

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  opacity: 0.2;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: transparent; }
